#app-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
			"."
			".";
	place-items: stretch;
}
#bottom-container {
	display: grid;
	grid-auto-columns: 100%;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . .";
	place-items: stretch;
}

#synth-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	gap: 0px 0px;
	grid-template-areas:
		". .";
	place-items: stretch;
}

#synth-bottom-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	gap: 0px 0px;
	grid-template-areas:
		"."
		".";
	place-items: center;
}

.track-title {
	text-decoration: underline;
}