#app-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
			"."
			".";
	place-items: stretch;
}
#bottom-container {
	display: grid;
	grid-auto-columns: 100%;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". . .";
	place-items: stretch;
}

#synth-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	gap: 0px 0px;
	grid-template-areas:
		". .";
	place-items: stretch;
}

#synth-bottom-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	gap: 0px 0px;
	grid-template-areas:
		"."
		".";
	place-items: center;
}

#tracks{ 
	position: relative;
}

/* #progress {
	width: 2px;
	height: 100%;
	left: 0%;
	position: absolute;
	background-color: red;
	z-index:100;
} */

.track-title {
	text-decoration: underline;
}

.tab-button {
	padding: 0px 5px;
	background: transparent;

}

.tab-button:hover {
	border-color: transparent;
}

.close-track-button{
	padding: 0px 5px;
	background: transparent;
}

.track-tab-button { 
	padding: 0px 5px;
	background: transparent;
}

.track-container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 1.6fr 0.4fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". .";
}

.sequencer-button {
	background:#fff;
	padding: 20px;
	margin: 2px;
	border: transparent;
}

.sequencer-active {
	background: #74C0FC;
}

.sequencer-playing {
	filter: brightness(75%);

}

.note-row {
	display: flex;
	align-items: center;
}

.note-name { 
	width: 35px;
}

.track-timeline-audio {
	height: 100px;
}

.track-timeline-synth{
	height: 100px;
	width: 100%;
	display: flex;
}

.clip-container {
	background-color: #fff;

}

.timeline-note-row {
	display: flex;
	align-items: center;
}

.timeline-note {
	height: 10px;
	width: 10px;
}

.timeline-note-active {
	background-color: #74C0FC;
}

.react-tabs {
	-webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
	border-bottom: 2px solid #74C0FC;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	background: #1a1a1a;
	border: 1px solid transparent;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.react-tabs__tab--selected {
	background: #74C0FC;
	border-color: #74C0FC;
	color: black;
}

.react-tabs__tab--disabled {
	background: #74C0FC;
	border-color: #74C0FC;
	color: white;
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	outline: none;
}

.react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}