.PWABadge-container {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.PWABadge-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
    padding: 12px;
    border: 1px solid #74C0FC;
    border-radius: 4px;
    z-index: 1;
    text-align: left;
    box-shadow: 3px 4px 5px 0 #74C0FC;
    background-color: white;
}
.PWABadge-toast-message {
    margin-bottom: 8px;
}
.PWABadge-toast-button {
    border: 1px solid #74C0FC;
    outline: none;
    margin-right: 5px;
    border-radius: 2px;
    background-color:white;
    padding: 3px 10px;
}
